# 网站名称
NEXT_PUBLIC_APP_NAME = '今日热榜'
# 网站描述
NEXT_PUBLIC_APP_DESC = '汇聚全网热点，热门尽览无余'
# 网站地址
NEXT_PUBLIC_APP_URL = 'https://hot.baiwumm.com'
# 版权名称
NEXT_PUBLIC_COPYRIGHT = '白雾茫茫丶'
# ICP 备案号
NEXT_PUBLIC_ICP = '粤ICP备2023007649号'
# 公安备案号
NEXT_PUBLIC_GONGAN = '粤公网安备44030402006402号'
# 百度 ID
NEXT_PUBLIC_BAIDU_ID = '029f8002fa463259746b84add5678d56'
# Google ID
NEXT_PUBLIC_GOOGLE_ID = 'G-ELGSN8JG3R'
# Clarity ID
NEXT_PUBLIC_CLARITY_ID = 'jm0kos9fw7'