@tailwind base;
@tailwind components;
@tailwind utilities;

$white:#fff;
$scrollbar-bg:rgba(60, 60, 67, 0.4); // 滚动条背景色

:root {
  --scrollbar-hover: rgba(0, 0, 0, 0.4);
}

// 黑夜模式
[data-theme="dark"]{
  --scrollbar-hover: rgba(0, 0, 0, 0.3);
}

// 全局按钮样式
.btn-icon {
  @apply cursor-pointer ease-in-out p-2 rounded-md text-gray-700 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white hover:bg-gray-50 dark:hover:bg-gray-800;
}

/* 修改滚动条样式 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: $scrollbar-bg;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}