@import "tailwindcss";
@import "@heroui/styles"; 
@custom-variant dark (&:is(.dark *));

:root {
  font-family: 'Maple Mono CN', system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* 主题色 */
  --accent: oklch(0.6235 0.2441 30.44);
}

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}
