@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(240, 242, 245);
  --foreground: black;
  --scrollbar: rgba(60, 60, 67, 0.4);
  --scrollbar-hover: rgba(0, 0, 0, 0.4);
}

[data-theme='dark'] {
  --background: rgb(16, 16, 10);
  --foreground: white;
  --scrollbar-hover: rgba(0, 0, 0, 0.3);
  --hot-url-underline: rgba(255, 255, 255, 0.08);
}

/* 顶部白色阴影 */
.dark .header-white-shadow {
  box-shadow:
    0 4px 6px -1px rgb(255 255 255 / 0.1),
    0 2px 4px -2px rgb(255 255 255 / 0.1);
}

/* 修改滚动条样式 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
